@use "../abstracts/colors" as c;

$font-family: "Rubik", sans-serif;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $font-family;
}

h1 {
  color: c.$main-heading;
  font-size: clamp(3.2rem, 2rem + 2vw, 4.5rem);
}

p:not(.app p) {
  color: c.$paragraph;
  line-height: 1.7;
  font-size: clamp(1.6rem, 1rem + 2vw, 1.8rem);
}
