.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.2rem;
  border-radius: 1.2rem;
  border: 2px solid transparent;

  &.correct {
    border: 3px solid var(--success-color);
    outline: none;
  }
  &.wrong {
    border: 3px solid var(--failure-color);
    outline: none;
  }

  &:active,
  &.active {
    border: 3px solid var(--primary-color);
    outline: none;
  }
}

.item.light {
  background-color: var(--white-color);
  box-shadow: 0 1.4rem 4rem rgba(143, 160, 193, 14%);
}
.item.dark {
  background-color: var(--second-color-dark);
  box-shadow: 0 1.4rem 4rem rgba(49, 62, 81, 14%);
}
