.btn {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.active {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -12px;
    left: 50%;
    height: 8px;
    width: 26px;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    transform: translateX(-50%);
    border-radius: 100px;
    background-color: rgb(237, 44, 73);
    box-shadow: 0 0 5px rgb(237, 44, 73);
    opacity: 0.6;
  }
}
