@use "../abstracts/breakpoints" as b;

.s-supercharge {
  &__features {
    padding: 5em 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3em;
  }

  &__featured-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;

    img {
      width: auto;
      max-height: 50px;
      max-width: 130px;
    }
  }

  @media (min-width: b.$medium) {
    padding-top: 0;

    &__features {
      column-gap: 2em;
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__featured-in {
      margin-top: 5rem;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1em;
    }
  }
}
