@use "../abstracts/breakpoints" as b;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__logo {
    margin-bottom: 3em;
    width: auto;
  }

  &__title {
    margin-bottom: 0.5em;
  }
  @media (min-width: b.$medium) {
    padding-top: 15rem;
  }
}
