.s-supercharge {
  &__features {
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    gap: 3em;
  }

  &__featured-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;

    img {
      width: auto;
      max-height: 50px;
      max-width: 130px;
    }
  }
}
