.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 3.2rem 2.4rem;
}

@media screen and (min-width: 48em) {
  .container {
    gap: 6.4rem;
  }
}
@media screen and (min-width: 80em) {
  .container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 45fr 55fr;
    gap: 10rem;
    justify-items: end;
  }
}
