@use '../abstracts/colors' as c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: c.$Off-white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img {
  width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border-color: transparent;
}
