@use '../abstracts/colors' as c;
@use '../abstracts/breakpoints' as b;
// -------------------------------------------------
// Styles for Animations are at the bottom
// -------------------------------------------------

main {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 4em;
}

// Parent for solutions
.list-of-solutions {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 2em;
  padding: 1em;
  list-style: none;

  @media (min-width: b.$medium) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: b.$large) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
