@use '../abstracts/colors' as c;

.btn {
  padding: 1em 1.5em;
  font-family: 'Barlow', sans-serif;
  color: #fff;
  font-style: italic;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: transparent;
  border-radius: 100px;
  transition: box-shadow 0.3s;

  &--primary {
    background-color: c.$primary;

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 0 10px c.$primary;
    }
  }

  &--secondary {
    background-color: c.$secondary;

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 0 10px c.$secondary;
    }
  }
}

// Button Childrens
.btn-icon {
  height: 100%;
  width: 20px;
  font-size: 2rem;
  margin-left: 0.5em;
  vertical-align: -0.5rem;
}
