@use '../abstracts/colors' as c;
@use '../abstracts/breakpoints' as b;

// Local Variables
$card-animation-duration: 0.5s;
$card-additional-text: c.$paragraph;

$newbie: rgb(106, 190, 205);
$junior: rgb(170, 215, 66);
$intermediate: rgb(241, 182, 4);

.solution {
  position: relative;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: c.$solution-bg;
  overflow: hidden;

  @media (min-width: b.$large) {
    text-align: start;
    padding-bottom: 4em;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    display: block;
  }

  &__content {
    position: relative;
    z-index: 10;
    margin-bottom: 1.5em;
    padding: 1em;
    width: 100%;

    @media (min-width: b.$large) {
      position: absolute;
      top: 100%;
      left: 0;
      transform: translateY(-8rem);
      margin-bottom: 0;
      background-color: rgba(240, 240, 240, 1);
    }
  }

  // content childrens

  &__title {
    display: inline-block;
    padding: 0 2em 0.2em;
    font-family: 'Barlow', sans-serif;
    font-size: 2rem;
    color: #3e54a3;
    font-weight: 700;
    text-shadow: 0 5px 2rem rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #ddd;

    @media (min-width: b.$large) {
      padding: 0;
      border-bottom: none;
    }
  }

  &__type {
    font-size: 1.3rem;
    color: $card-additional-text;
    @media (min-width: b.$large) {
      font-size: 1.4rem;
    }
  }

  &__level {
    display: flex;
    align-items: center;
    margin: 0.5em auto;
    width: max-content;
    font-size: 0.7em;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    @media (min-width: b.$large) {
      position: absolute;
      top: 0;
      right: 0;
      margin: 2.4rem 1.6rem;
    }
    @media (min-width: b.$x-large) {
      font-size: 0.9em;
    }

    .numerical {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.6em;
      height: 1.6em;
      color: #fff;
    }
    .lexical {
      padding: 0 0.4em;
      text-transform: uppercase;
      text-align: center;
      background-color: transparent;
    }

    &--newbie {
      border: 1px solid $newbie;
      .numerical {
        background-color: $newbie;
      }
      .lexical {
        color: $newbie;
      }
    }
    &--junior {
      border: 1px solid $junior;
      .numerical {
        background-color: $junior;
      }
      .lexical {
        color: $junior;
      }
    }
    &--intermediate {
      border: 1px solid $intermediate;
      .numerical {
        background-color: $intermediate;
      }
      .lexical {
        color: $intermediate;
      }
    }
  }

  &__tech-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
    position: relative;
    list-style: none;

    @media (min-width: b.$large) {
      justify-content: flex-start;
    }
  }

  &__box {
    margin: 1.5rem 0;
    h5 {
      color: c.$secondary;
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }
    p {
      margin-top: -0.4rem;
      font-size: 1.3rem;
      line-height: 1.4;
    }
  }

  // icon selector
  &__tech-item {
    position: relative;
    transition: transform 0.4s;
    .icon {
      width: 4rem;
      height: 4rem;
      transition: transform 0.4s ease-in-out;
    }

    @media (min-width: b.$large) {
      &:hover {
        transform: scale(1.2);

        .tooltip {
          transform: scale(1) translateY(80%);
          opacity: 0.6;
        }
      }
    }

    .tooltip {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: c.$paragraph;
      font-size: 0.8rem;
      font-family: 'Barlow', sans-serif;
      font-weight: 600;
      text-align: center;
      line-height: 1;
      opacity: 0;
      transform: scale(0);
      transition: transform $card-animation-duration, opacity $card-animation-duration;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  &__btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5em;
  }

  &__btn {
    padding: 0.5em 1em;
  }
}

// --------------------------------------------------------------
// Animations

.solution {
  @media (min-width: b.$large) {
    &:hover &__content {
      transform: translateY(-100%);
      &::before {
        transform: scaleX(1);
        transform-origin: left;
        transition: transform $card-animation-duration;
      }
    }

    &:hover &__img {
      transform: scale(1.2);
    }
  }

  &__img {
    transition: transform $card-animation-duration;
  }
  &__content {
    transition: transform $card-animation-duration;

    @media (min-width: b.$large) {
      // Progress bar
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 5px;
        width: 100%;
        background-color: rgba(c.$primary, $alpha: 0.8);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform $card-animation-duration;
      }
    }
  }
}
