// Styles for site (exclude app)
$main-heading: hsl(271, 36%, 24%);
$paragraph: hsl(270, 7%, 64%);

// -------------------------------------------------
// Stlyes for App
$sub-heading-app: hsl(276, 100%, 81%); //at the top of the app UI)

$text-chat-left: hsl(276, 55%, 52%);
$text-chat-right: hsl(271, 15%, 43%);

$placeholder-text: hsl(206, 6%, 79%);
$white: hsl(0, 0%, 100%);

// Background
$app-background: hsl(270, 20%, 96%);

// Btn
$submit-button: hsl(271, 36%, 24%);
$radio-button: hsl(289, 100%, 72%);

// #### Gradients
$gradient-light: hsl(293, 100%, 63%);
$gradient-dark: hsl(264, 100%, 61%);
