@use '../../../../index.scss' as *;

.card {
  display: block;
  position: relative;
  padding: 2.4rem;
  color: var(--dark-grey-color);
  border-radius: 0.8rem;
  background-color: #f4f1eb;
  cursor: pointer;

  &:has(input:checked) {
    background-color: var(--primary-color);
    color: var(--light-color);
  }

  .radio {
    appearance: none;
    position: absolute;
  }

  .title {
    margin-bottom: 0.8rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 2.4rem;
    text-transform: capitalize;
  }

  .desc {
    font-size: 1.6rem;
  }

  @include breakpoint(tablet) {
    padding: 3.2rem 2.5rem 8rem;

    .title {
      margin-bottom: 2.5rem;
    }
  }
  @include breakpoint(desktop) {
    &:hover {
      background-color: var(--second-color);
    }
  }
}
