@use "../abstracts/colors" as c;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: c.$background;
}

img {
  width: 100%;
}

button {
  border: transparent;
  background: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}
