@use "../abstracts/colors" as c;

//VARIABLES
// Headings
$heading-typo: "Poppins", sans-serif;

$heading-weights: (
  "bold": 600,
);

// Body, CTA
$body-typo: "Open Sans", sans-serif;

$body-weights: (
  "regular": 400,
  "bold": 700,
);
//-------------------------------------

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: $body-typo;
}

h1,
h2,
p {
  color: c.$secondary-dark;
}

h1 {
  font-family: $heading-typo;
  font-size: 3rem;
  font-size: clamp(3rem, 2rem + 1.5vw, 4.6rem);
}

p {
  font-size: 1.8rem;
  line-height: 1.6;
}
