.progress {
  display: flex;
  align-items: center;
  padding: 4px;
  margin-top: 1.2rem;
  height: 1.6rem;
  width: 100%;
  border-radius: 100px;
}

.progress.light {
  background-color: var(--white-color);

  ::-webkit-progress-bar {
    background-color: var(--white-color);
  }
}
.progress.dark {
  background-color: var(--second-color-dark);

  ::-webkit-progress-bar {
    background-color: var(--second-color-dark);
  }
}

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
}

::-webkit-progress-bar {
  border-radius: 100px;
}
::-webkit-progress-value {
  background-color: var(--primary-color);
  border-radius: 100px;
}
