.container-m,
.container-l {
  margin: 0 auto;
}
.container-m {
  max-width: 80rem;
}
.container-l {
  max-width: 110rem;
}

.section {
  padding: 7rem 3rem;
  text-align: center;

  &__title {
    margin-bottom: 0.5em;
  }
}
