$primary: rgb(237, 44, 73);
$secondary: #3e54a3;

// Main background
$background: rgb(250, 250, 250);

// Solution card background
$solution-bg: rgba(240, 240, 240, 1);

$paragraph: rgb(115, 115, 115);
