@use '../abstracts/colors' as c;

.advice {
  position: relative;
  padding: 5rem 2rem 7rem;
  margin: 1.5rem;
  max-width: 50rem;
  background-color: c.$dark-medium;
  border-radius: 10px;
  text-align: center;

  &__numb {
    color: c.$primary;
    font-size: clamp(1.2rem, 0.8rem + 1vw, 1.4rem);
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  &__text {
    padding: 1em 0;
    color: c.$primary-light;
    font-size: clamp(2.2rem, 1.5rem + 1vw, 2.8rem);
    line-height: 1.4;
    font-family: serif;
    span {
      font-weight: 800;
      font-family: 'Manrope', sans-serif;
    }
  }

  &__btn {
    position: absolute;
    left: 50%;
    bottom: 0;
    display: grid;
    place-items: center;
    width: 6rem;
    height: 6rem;
    background-color: c.$primary;
    border-radius: 50%;
    border-color: transparent;
    outline: transparent;
    transform: translate(-50%, 50%);
    transition:
      box-shadow 0.3s ease-in-out,
      transform 0.2s;
    cursor: pointer;

    img {
      width: 40%;
    }

    &:hover,
    &:focus {
      box-shadow: 0 0 15px c.$primary;
    }

    &:active {
      transform: translate(-50%, 50%) scale(0.9);
    }
  }
}
