@use "../abstracts/colors" as c;
@use "../base/typography" as t;
@use "../abstracts/breakpoints" as b;

.btn {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: map-get($map: t.$body-weights, $key: bold);
  cursor: pointer;
  backface-visibility: hidden;
  border-radius: 100px;
  transition: opacity 0.4s, transform 0.4s;

  &:hover,
  &:focus {
    opacity: 0.75;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1.03);
  }

  @media screen and (min-width: b.$medium) {
    font-size: 1.6rem;
  }

  // ---------------------------
  // Modifiers
  &--primary {
    padding: 1em 4em;
    background-color: c.$primary;
    color: c.$light;
    box-shadow: 0 5px 5px rgba(c.$primary, $alpha: 0.1);
  }
  &--secondary {
    padding: 0.5em 2em;
    background-color: c.$light;
    color: c.$secondary-dark;
    box-shadow: 0 5px 5px rgba(c.$secondary-dark, $alpha: 0.1);
  }
}
