@use "../abstracts/colors" as c;

main {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 4em;
}

main h2 {
  margin-bottom: 0.5em;
  font-size: clamp(2.4rem, 2.4rem + 0.5vw, 3.2rem);
  color: rgb(62, 84, 163);
  border-bottom: 2px solid rgba(62, 84, 163, 0.4);
  font-family: "Barlow", sans-serif;
}

main h3 {
  color: rgb(62, 84, 163);
  font-family: "Barlow", sans-serif;
}

main h3 span {
  opacity: 0.7;
  margin-right: 0.5em;
}

.list-of-solutions {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 2em;
  padding: 1em;
  list-style: none;

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }
}

.solution {
  position: relative;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: rgba(240, 240, 240, 1);
  overflow: hidden;

  &__img {
    width: 100%;
    object-fit: cover;
    display: block;
  }

  &__content {
    position: relative;
    z-index: 10;
    margin-bottom: 1.5em;
    padding: 1em;
    width: 100%;
  }

  // content childrens

  &__title {
    display: inline-block;
    padding: 0 2em 0.2em;
    font-family: "Barlow", sans-serif;
    font-size: 2rem;
    color: #3e54a3;
    font-weight: 700;
    text-shadow: 0 5px 2rem rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #ddd;
  }
  &__type {
    font-size: 1.2rem;
    color: #999;
  }

  &__tech-list {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    position: relative;
    margin: 1em 0;
    padding-top: 1.3em;
    list-style: none;

    &::before {
      content: attr(aria-label);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.2rem;
      color: #999;
    }
  }

  // icon selector
  &__tech-item svg {
    width: 4rem;
    height: 4rem;
  }

  &__btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5em;
  }

  &__btn {
    padding: 0.5em 1em;
  }
}
