.text {
  font-style: italic;
  font-size: 1.4rem;
}

.text.light {
  color: var(--second-color-medium);
}
.text.dark {
  color: var(--second-color-light);
}

@media screen and (min-width: 48em) {
  .text {
    font-size: 2rem;
  }
}
