.btn {
  font-size: 1.6rem;

  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.active {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    height: 2px;
    width: 80%;
    transform: translateX(-50%);
    border-radius: 100px;
    background-color: #444;
    box-shadow: 0 0 5px #444;
    opacity: 0.3;
  }
}
