// Primary
$primary: hsl(0, 36%, 70%);
$primary-dark: hsl(0, 93%, 68%);

// ### Neutral

$grey: hsl(0, 6%, 24%);

// ### Gradients

$bg-gradient-1: linear-gradient(135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)); 
$bg-gradient-2: linear-gradient(135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)); 

