@use "../abstracts/breakpoints" as b;

body {
  background-image: url("../img/bg-header-mobile.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-width: b.$large) {
    background-image: url("../img/bg-header-desktop.png");
  }
}
