// SPACING SYSTEM (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

// FONT SIZE SYSTEM (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

@use "../abstracts/colors" as c;
@use "sass:map";
$font-weights: (
  "regular": 400,
  "medium": 600,
);

html {
  font-size: 62.5%;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.8rem;
}

// Headings
h1,
h2,
h3 {
  color: c.$grey-dark;
  font-weight: map-get($font-weights, medium);
  letter-spacing: -1px;
}

h1 {
  font-size: clamp(3.2rem, 2rem + 1vw, 5.2rem);
  line-height: 1.2;
}

h2 {
  font-size: clamp(3rem, 2rem + 1vw, 4.2rem);
}
h3 {
  font-size: clamp(2.4rem, 2rem + 1vw, 3.6rem);
}

// Other
p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: c.$grey-light;
}
