.header {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.title {
  width: max-content;
  font-size: 4rem;
  font-weight: 300;

  & span {
    display: block;
    margin-top: 0.4rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 48em) {
  .title {
    font-size: 6.4rem;
  }
}
@media screen and (min-width: 80em) {
  .header {
    gap: 4.8rem;
  }
}
